.view {
    width: 50%;
    height: 85%;
    display: flex;
    padding: 15px;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
    flex-direction: column;
    position: fixed;
    left: -110%;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: .4s;
    z-index: 100;
}

.added {
    left: 50%;
}

.view::-webkit-scrollbar {
    width: 0;
}

.view span {
    position: absolute;
    background-color: var(--blue);
    color: white;
    top: -30px;
    right: -30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    z-index: 1000;
}

.view span:hover::before {
    transform: scale(1);
}

@media(max-width: 767px) {
    .details {
        width: 80%;
    }

    .view span {
        left: 87%;
    }
}

.details .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 1199px) {
    .details .image {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.details .tols {
    overflow: hidden;
    border-radius: 20px;
    width: 266px;
    height: 266px;
}

.details img {
    max-width: 100%;
    max-height: 100%;
}

.details .image .prototype {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 50%;
}

.details .image .prototype .rate {
    display: flex;
    align-items: center;
    padding: 0 0 15px;
    border-bottom: 2px solid var(--green);
}

@media(max-width: 1199px) {
    .details .image .prototype {
        margin-top: 20px;
    }

    .details .image .prototype .rate {
        justify-content: center;
    }
}

.details .image .prototype p {
    margin: 0;
    margin-left: 10px;
    display: block;
    font-size: 14px;
    color: var(--silver);
}

.details .image .size {
    display: flex;
    align-items: center;
}

.details .image .size h3 {
    display: block;
    margin: 0;
    ;
    margin-right: 15px;
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
}

.details .image .size ul {
    display: flex;
}

.details .image .size ul li {
    background: var(--green);
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--silver);
    font-weight: 500;
    font-size: 14px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .3s;
}

.details .image .size ul li.active {
    border-color: var(--purple);
    transition: .3s;
}

.details .image .size ul li:hover {
    border-color: var(--purple);
}

.details .image .prototype a button {
    display: block;
    width: 100%;
    padding: 20px 45px;
    background: var(--blue);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.details .image .prototype a button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--blue);
    z-index: -1;
    transition: .3s;
    border-radius: 8px;
}

.details .image .prototype a button:hover::before {
    transform: scale(1.03);
}

.details .serif {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.details .serif h2 {
    color: var(--blue);
    font-size: 26px;
    margin: 0;
    margin-top: 10px;
}

.details .serif h3 {
    font-size: 22px;
    display: block;
    color: var(--black);
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
}

.view .details .serif .price {
    display: flex;
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.view .details .serif ul li {
    color: var(--blue);
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
}

.view .details .serif .exp {
    color: var(--silver);
    line-height: 1.7;
    margin: 0;
}

.view .details .serif .amount {
    display: flex;
    align-items: center;
    justify-content: center;
}