.account {
    background-color: var(--lightColor);
    padding-top: var(--second-padding);
}

.account .explore {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account .head {
    background-color: #f8f8f8;
    padding: 40px 0 45px;
}

.account .head p {
    font-size: 40px;
    margin-left: 5px;
    margin-top: 10px;
    font-weight: 600;
}

.account .head .a {
    color: #999;
    font-size: 14px;
}

.account .head .a:hover {
    color: var(--blue);
}

.account .head span {
    color: var(--blue);
}


/* end account */


/* start content */

.content {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.content .users .image {
    width: 40px;
}

.content .users .image img {
    border-radius: 50%;
}

.content .users .text {
    margin-top: 10px;
}

.content .users .text h3 {
    margin: 0;
    font-weight: 600;
    color: var(--black);
}

.content .users .text span {
    display: block;
    color: var(--silver);
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.content .info {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 45px;
    margin-top: 30px;
}

@media(max-width: 767px) {
    .content .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content .users {
        text-align: center;
    }

    .content .users .image {
        margin: 0 auto;
    }

    .content .users img {
        margin: 0 -20px;
    }
}

.content .info .dash {
    padding: 40px 35px 30px;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
}

@media(max-width: 767px) {
    .content .info .dash {
        width: 320px;
    }
}

.content .info .dash li {
    padding: 15px;
    padding-right: 40px;
    margin-bottom: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.content .info .dash li a {
    color: var(--silver);
    transition: 0.3s;
}

.content .info .dash li a svg {
    font-size: 16px;
}

.content .info .dash li a span {
    font-size: 14px;
    font-weight: 500;
}

.content .info .dash li a svg {
    margin-right: 5px;
}

.content .info .dash .blur {
    background-color: var(--lightColor);
    color: var(--blue);
    border-radius: 8px;
}

.content .info .dash .blur a {
    color: var(--blue);
    display: flex;
}

.content .info .dash li:hover {
    background-color: var(--lightColor);
    border-radius: 8px;
}

.content .info .dash li:hover a {
    color: var(--blue);
}

.content .info .txt h6 {
    font-size: 18px;
    font-weight: normal;
    margin: 30px 0;
}

.content .info .txt h6 span {
    font-weight: 600;
}

.content .info .txt h6 a {
    color: var(--pink);
    transition: 0.3s;
}

.content .info .txt p {
    line-height: 2;
    color: var(--silver);
}