.more-pro .sorts .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0;
    flex-wrap: wrap;
}

.more-pro .sorts .f {
    display: flex;
    gap: 15px;
    align-items: center;
}

@media (max-width :571px) {
    .more-pro .sorts .f {
        margin-bottom: 30px;
    }
}

.more-pro .sorts select {
    padding: 10px;
    width: auto;
    position: relative;
    border: none;
    margin: 0 10px;
    outline: none;
    border-radius: 10px;
    color: #27272E;
}

.more-pro .sorts select::before {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    left: 0;
    top: 0;
    height: calc(100% + 10px);
    border: 1px solid #c3c3c3;
    border-radius: 10px;
}

.more-pro .sorts select option {
    padding: 10px;
}